<html>
<head>
  <title>Lotto Buster</title>
</head>
<body>
  <h1>Lotto Buster</h1>
  <p>Welcome to Lotto Buster, helps you see the real chances of winning and the possible losses.</p>
  <p>Did you know that playing the lottery is the worst bet you can make? The odds of winning the South African daily lotto are 531,441 to 1. That means you would have to spend over R2.6 million for a guaranteed chance of winning.</p>
  <p>Lotto Buster is here to show you the truth behind the lottery and if its worth the time and heartache. Your numbers will be compared to all numbers that have ever been drawn to see if you could have won and how much yoou would have lost</p>
  <p>Are you ready to bust the lottery and save your self? Click the button below to go to the next page and start using our tool.</p>
  <a href="http://web-01.sephush.tech/LottoBuster/run">
    <button type="button">Go to simulator</button>
  </a>
</body>
</html>
