<html>
<head>
  <title>Lotto Buster</title>
</head>
<body>
  <h1>Lotto Buster</h1>
  <form action="http://web-01.sephush.tech/LottoBuster/run" method="PUT">
    <p>
      <label for="number1">Number 1:</label>
      <input type="number" id="number1" name="number1" required>
    </p>
    <p>
      <label for="number2">Number 2:</label>
      <input type="number" id="number2" name="number2" required>
    </p>
    <p>
      <label for="number3">Number 3:</label>
      <input type="number" id="number3" name="number3" required>
    </p>
    <p>
      <label for="number4">Number 4:</label>
      <input type="number" id="number4" name="number4" required>
    </p>
    <p>
        <label for="number5">Number 5:</label>
        <input type="number" id="number5" name="number5" required>
      </p>
    <p>
      <input type="submit" value="Send">
    </p>
  </form>
</body>
</html>
